.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1em;
}

.App-header h1,
.App-header h2 {
  padding: 0em;
  margin: 0em;
}
